dotfiles/config/lazygit
dotfiles/config/lvim/lazy-lock.json
dotfiles/config/lazygit/state.yml
dotfiles/config/spicetify/Backup
dotfiles/config/spicetify/Extracted
dotfiles/config/nvim/lazy-lock.json
dotfiles/config/nushell/history.txt
dotfiles/config/nushell/history.txt
dotfiles/config/pypoetry/pypoetry/venv
